body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
}

h1 {
    color: #d29de7;
    font-size: 300%;
    margin-bottom: 30px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
    
}

.cell {
    color: aliceblue;
    width: 60px;
    height: 60px;
    border: 2px solid #d29de7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: rgb(59, 58, 58);
    border-radius: 5px;
}

.keyrow {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.key {
    color: aliceblue;
    font-weight: bold;
    width: 45px;
    height: 60px;
    border: 1px solid #d29de7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: rgb(59, 58, 58);
    border-radius: 5px;
}

.cell:nth-child(even) {
    background-color: #646161;
}
